* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	background-size: cover;
}

header {
	position: relative;
	height: 100px;
	color: #FFFFFF;
}

header .cont1 {
	position: absolute;
	left: 50px;
	top: 20px;
	width: 350px;
	padding-right: 20px;
	border-right: #c7c7c7 5px solid;
}

header .cont2 {
	position: absolute;
	left: 450px;
	top: 20px;
	width: -webkit-max-content;
	background-color: #F99826;
	padding: 0 20px;
	border-radius: 10px;
}

.ico {
	color: #333;
	font-size: 40px;
	font-weight: bold;
}

nav {
	overflow: hidden;
	background-color: #fefefe;
	top: 0;
	position: sticky;
	top: 0px;
	z-index: 10;
}

.nav_li {
	box-sizing: border-box;
	border-bottom: #CCCCCC solid 1px;
	width: 20%;
	float: left;
	line-height: 40px;
	padding: 0 10px;
}

.nav_a {
	color: #000000;
	display: block;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
}

.nav_a:hover {
	color: #000000;
}

.nav_li:hover {
	background-color: #F99826;
	transition: background-color .3s;
}

#container {
	width: 100%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .5);
	overflow: hidden;
}

aside {
	box-sizing: border-box;
	width: 400px;
	float: left;
	box-shadow: #cccccc 1px -1px 5px;
	padding-right: 2em;
	text-align: right;
	position: sticky;
}

aside::before {
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, .5);
	width: 100%;
	height: 100%;
	left: 0;
	z-index: -1;
}

footer {
	float: left;
	background-color: #EEEEEE;
	width: 100%;
	padding: 1em;
}

#main {
	margin-left: 400px;
}

.aside_dl {
	margin: 25px 0;
	top: 0px;
}

.aside_dd {
	font-size: 1.5rem;
	text-indent: 1em;
}

aside dt {
	font: 3rem "xinyiguan";
}

.aside_a {
	font: 1.7rem "xinyiguan";
	display: inline-block;
	text-decoration: none;
	color: black;
	line-height: 1.5em;
	transition: all .2s ease-out;
}

.aside_a span {
	color: #0000FF;
	padding-right: 5px;
	font-weight: bold;
}

.aside_a:hover {
	box-sizing: border-box;
	color: #f72585;
	transform: translateX(-5px);
}

#timeDIV {
	box-sizing: border-box;
	height: 200px;
	min-width: 500px;
	padding: 30px;
	line-height: 3em;
	background-size: cover;
	font: 3rem "xinyiguan";
	position: relative;
}

#timeDIV span {
	font-family: "zkxw";
	font-style: italic;
	color: #4253b3;
}

.bg_night,
.bg_day {
	background-position: center;
	color: #111;
}

span#theday {
	font: 3rem "xinyiguan";
}

.bg_night {}

.bg_day {}
